[submodule "unifrut"]
	path = unifrut
	url = git@git.vauxoo.com:Vauxoo/unifrut.git
	branch = 15.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 15.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:vauxoo/mexico-document.git
	branch = 15.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 15.0
[submodule "credit-management"]
	path = credit-management
	url = git@git.vauxoo.com:vauxoo/credit-management.git
	branch = 15.0
[submodule "account-payment-split"]
	path = account-payment-split
	url = git@git.vauxoo.com:vauxoo/account-payment-split.git
	branch = 15.0
[submodule "gandalf"]
	path = gandalf
	url = git@git.vauxoo.com:vauxoo/gandalf.git
	branch = 15.0
[submodule "account_reconcile_partial"]
	path = account_reconcile_partial
	url = git@git.vauxoo.com:vauxoo/account_reconcile_partial.git
	branch = 15.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:Vauxoo/stock-logistics-workflow.git
	branch = 15.0
