[submodule "unifrut"]
	path = unifrut
	url = git@git.vauxoo.com:Vauxoo/unifrut.git
	branch = 19.0-mig-unifut-isaako34-31-comments-atendidos
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 19.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:vauxoo/mexico-document.git
	branch = 19.0
[submodule "credit-management"]
	path = credit-management
	url = git@git.vauxoo.com:vauxoo/credit-management.git
	branch = 19.0
[submodule "account-payment-split"]
	path = account-payment-split
	url = git@git.vauxoo.com:vauxoo/account-payment-split.git
	branch = 19.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 19.0
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 19.0
[submodule "gandalf"]
	path = gandalf
	url = git@git.vauxoo.com:vauxoo/gandalf.git
	branch = 19.0
[submodule "account-invoicing"]
	path = account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 19.0
[submodule "stock-psycho-account"]
	path = stock-psycho-account
	url = git@git.vauxoo.com:vauxoo/stock-psycho-account.git
	branch = 19.0
[submodule "l10n-mx-edi-legal-name"]
	path = l10n-mx-edi-legal-name
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-legal-name.git
	branch = 19.0
[submodule "l10n-mx-edi-cancellation"]
	path = l10n-mx-edi-cancellation
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-cancellation.git
	branch = 19.0
[submodule "l10n-mx-edi-payment-split"]
	path = l10n-mx-edi-payment-split
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-payment-split.git
	branch = 19.0
